<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Event Manager – Organiser Login</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <!-- include site wide navigation bar -->
    <%- include('common/header') %>
    <main class="middle">
      <!-- alerts -->
      <% if (typeof alert != 'undefined') { %> <% alert.forEach(function(error)
      { %>
      <div class="alert" role="alert">
        <%= error.msg %>
        <button type="button" class="close">
          <span>×</span>
        </button>
      </div>
      <% }) %> <% } %>

      <!-- login form -->
      <h2>Organiser Login</h2>
      <form method="POST" action="/login_organiser" class="vertical-form">
        <label>Username:</label><br />
        <input type="text" name="username" required /><br />
        <label>Password:</label><br />
        <input type="password" name="password" required /><br /><br />
        <button type="submit">Login</button>
      </form>

      <!-- signup  -->
      <p>Don’t have an organiser account yet?</p>
      <form action="/signup_organiser" method="GET">
        <button type="submit">Create an Account</button>
      </form>
    </main>
  </body>
</html>
