<div class="navbar">
  <h1><%= siteName %></h1>
  <p><%= siteDescription %></p>
  <nav>
    <ul>
      <!-- This is a navigation bar with links to different sections of the site -->
      <li><a href="/">Home</a></li>
      <li><a href="/organiser">Organiser Home</a></li>
      <li><a href="/attendee">Attendee Home</a></li>
    </ul>
  </nav>
</div>
